<p id="notice"><%= notice %></p>

<h1>Binarians</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Umur</th>
      <th>Alamat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @binarians.each do |binarian| %>
      <tr>
        <td><%= binarian.nama %></td>
        <td><%= binarian.umur %></td>
        <td><%= binarian.alamat %></td>
        <td><%= link_to 'Show', binarian %></td>
        <td><%= link_to 'Edit', edit_binarian_path(binarian) %></td>
        <td><%= link_to 'Destroy', binarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Binarian', new_binarian_path %>
